<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <!-- Google font typography settings - defined in _config.yml -->
  {% if site.resume_theme == 'default' %}
  <link
    href='https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700'
    rel='stylesheet' type='text/css'>
  {% endif %}

  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="css/main.css">
  <link rel="canonical"
    href="{{ page.url | replace:'index.html','' | absolute_url }}">
  {% assign resume_homepage = "/" | absolute_url %}
  {% assign resume_person_id = resume_homepage | append: "#me" %}
  {% assign resume_website_id = resume_homepage | append: "#website" %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "@id": "{{ resume_website_id }}",
      "url": "{{ resume_homepage }}",
      "name": {{ site.title | jsonify }},
      "description": {{ site.description | jsonify }},
      "publisher": {
        "@type": "Person",
        "@id": "{{ resume_person_id }}"
      }
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "@id": "{{ resume_person_id }}",
      "name": {{ site.resume_name | jsonify }},
      "url": "{{ resume_homepage }}",
      "jobTitle": {{ site.resume_title | jsonify }},
      "sameAs": [
        {% assign resume_same_as_first = true %}
        {% if site.resume_social_links %}
          {% for link in site.resume_social_links %}
            {% if link[1] %}
              {% unless resume_same_as_first %},{% endunless %}
              {{ link[1] | jsonify }}
              {% assign resume_same_as_first = false %}
            {% endif %}
          {% endfor %}
        {% endif %}
      ]
    }
  </script>
  <link rel="icon" type="image/x-icon" href="favicon.png" />
</head>
